<h4 class="margintop0"><strong>Edit product:</strong> <span ng-modal="productName">{{ data.product }}</span></h4>
<hr>

<div class="alert alert-danger" ng-show="productForm.product.$touched && productForm.product.$invalid">A product name is required.</div>
<div class="alert alert-danger" ng-show="productForm.price.$touched && productForm.price.$invalid">A product price is required.</div>

<form name="productForm" ng-submit="saveInvoice(data.product.$index)">
	<input name="productId" ng-model="data.productId" class="form-control hidden" required>
	<input name="invoiceId" ng-model="data.invoiceId" class="form-control hidden" required>
	
	<div class="form-group">
		<label for="date" >Date:</label>                       
		<datepicker date-format="dd/MM/yyyy" date-typer="true">
			<input type="text" placeholder="dd/MM/yyyy" class="form-control" ng-model="data.date" ng-required="true"/>
		</datepicker>
	</div>
	<br />
	<br />
	
	<div class="form-group">
		<label for="product">Product:</label>
		<input name="product" ng-model="data.product" class="form-control"  ng-required="true">
	</div>
	
	<div class="form-group">
		<label for="price">Price:</label>
		<div class="input-group">
			<div class="input-group-addon">&euro;</div>
			<input ng-currency type="text" name="price" ng-model="data.price" class="form-control" ng-required="true" currency-symbol="">
		</div>
	</div>
	
	
</form>

<div class="text-right">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	
	<button type="button" ng-disabled="productForm.product.$invalid || productForm.price.$invalid" class="btn btn-primary" ng-click="submitProductForm($index)">
		Save &amp; close
	</button>
</div>