<!DOCTYPE html>
<html ng-app="invoicesSystem">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/invoices.css" />
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="invoice.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="invoicesController as invoice">
    <!--  Header  -->
    <div class="container">
		<header>
			<h1 class="text-center">Invoice System</h1>
			<h3 class="text-center">MediCapital Rent</h3>
		</header>
		<hr>
    </div>
   
    <!-- Table -->
    <div class="container">
		<table class="table table-striped invoices">
			<thead>
				<tr>
					<th>Invoice number</th>
					<th>Customer name</th>
					<th>Invoice date</th>
					<th class="text-right">Actions</th>
				</tr>
			</thead>
			<tbody>
				<!-- Table TR -->
				<tr ng-repeat="data in invoice.data" class="invoiceRow invoice{{ data.invoiceId }}">
					<td>#{{ data.invoiceId }}</td>
					<td>{{ data.name }}</td>
					<td>{{ data.invoiceDate | date : 'dd-MM-yyyy' }}</td>
					<td class="text-right"><a class="btn btn-success btn-sm" ng-click="getData(data.invoiceId)">View invoices</a></td>
				<!-- // Table TR -->
				</tr>
			</tbody>
		</table>
    </div>
    <!-- Table -->
    
    <!-- Modal -->
	<div class="modal fade" id="addInvoice" tabindex="-1" role="dialog" aria-labelledby="addInvoiceLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addInvoiceLabel">New invoice</h4>
				</div>
				<div class="modal-body">
					<div class="appendHere"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Add invoice &amp; close</button>
				</div>
			</div>
		</div>
	</div>
   
    <!-- Bottom scripts -->
    <script type="text/javascript" src="static/js/jQuery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/ui-bootstrap-tpls.js"></script>
    
    
  </body>
</html>
