<!DOCTYPE html>
<html ng-app="invoicesSystem">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/invoices.css" />
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    
    <!-- Derde feestjes // Third party -->
    <script type="text/javascript" src="node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script>
    <script type="text/javascript" src="node_modules/ng-currency/dist/ng-currency.js"></script>
    
	<!-- Controllers -->
    <script type="text/javascript" src="app.js"></script>
    
    
  </head>

  <body ng-controller="invoicesController as invoices">
    <!--  Header  -->
    <div class="container">
		<header>
			<h1 class="text-center">Invoice System</h1>
			<h3 class="text-center">MediCapital Rent</h3>
		</header>
		<hr>
    </div>
   
   
    <!-- Table -->
    <div class="container">
		<table class="table table-striped invoices">
			<thead>
				<tr>
					<th>Invoice number</th>
					<th>Customer name</th>
					<th>Invoice date</th>
					<th class="text-right">Actions</th>
				</tr>
			</thead>
			<tbody id="invoicesTbody">
				<!-- Table TR -->
				<tr ng-repeat="details in invoices.details">
					<td>#{{ details.invoiceId }}</td>
					<td>{{ details.name }}</td>
					<td>{{ details.invoiceDate | date : 'dd/MM/yyyy' }}</td>
					<td class="text-right">
						<a class="btn btn-primary btn-sm" ng-click="getData(details, $index)">Toggle details</a>
					</td>
				</tr>
				<!-- // Table TR -->
			</tbody>
		</table>
    </div>
    
    
    
    <!-- Table -->
    
    <!-- Modal -->
	<div class="modal fade" id="invoicemodal" tabindex="-1" role="dialog" aria-labelledby="invoicemodalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="invoicemodalLabel">Invoice</h4>
				</div>
				<div class="modal-body">
					<!-- Append here -->
				</div>
			</div>
		</div>
	</div>
   
    <!-- Bottom scripts -->
    <script type="text/javascript" src="static/js/jQuery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-deparam.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/ui-bootstrap-tpls.js"></script>
    
    
  </body>
</html>
