@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{font-family: 'Quicksand', sans-serif;	font-size:15px;font-weight: 400;}

.margintop0{margin-top:0;}

table td{vertical-align: middle!important;}
table.invoices{
	tbody{
		tr#orderwrap{border:5px solid #428bca; padding:5px;
			td{background:#fff;}
		}
	}
}

.arrow-up {width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #428bca;position: relative;top: -24px;left: -10px;}