table td{vertical-align: middle!important;}
/*table.invoices{position: relative;transition: all 600ms cubic-bezier(0.6, -0.28, 0.735, 0.045);left:0;
	tbody{
		td{vertical-align: middle;
			&.invoiceDetails{position: fixed;right:-650px;width: 650px;top: 0;bottom: 0;background: #484848;z-index: 1000;color:white; transition: all 600ms; border: 0; padding:15px; 
				&.active{right:0; transition: all 300ms;}
			}
		}
	}
	&.active{left:-650px;transition: all 300ms;}
}*/